.login-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: stretch;
  align-content: stretch;
  padding-top: 5%;
}

.login-item {
  width: 100%;
}

