<mat-toolbar color="primary">
  <mat-toolbar-row>
    <!-- <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button> -->
    <h1>Fitness app</h1>
    <span class="menu-spacer"></span>
    <div>
      <a mat-button [routerLink]="'/accounts'"> Home </a>
      <a mat-button [routerLink]="'/login'"> Login </a>
      <a mat-button [routerLink]="'/register'"> Register </a>
      <a mat-button [routerLink]="'/createWorkout'"> Create workout </a>
      <a mat-button [routerLink]="'/workouts'"> Workout lists </a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>




